@charset "UTF-8";
h1 {
  background-color:lightblue;
 }

th {
  background-color: gainsboro;
}

th,td {
  border: solid 1px;
}

table {
  border-collapse: collapse;
}

h2 {
  border-left: 10px solid lightblue;
}

img{
  width: 350px;
}

figure{
  margin: 0;
}
